<div class="container mt-5 w-75">
  <form appFocusInvalidInput class="card info-form m-5" [formGroup]="passwordEditForm" (ngSubmit)="changePassword();">
    <div class="card-header title">
      <span>Edit Password</span>
    </div>
    <div class="p-5">
      <div class="row mb-3">
        <div class="col-md-4 font-weight-bolder">Current Password:</div>
        <div class="col-md-7">
          <input class="form-control" type="password" required formControlName="currentPassword">
          <p *ngIf="passwordEditForm.controls.currentPassword.errors?.required && passwordEditForm.controls.currentPassword.touched"
             class="text-danger"
          >
            Enter this field!
          </p>
          <p *ngIf="isWrongPassword" class="text-danger">
            Password invalid!
          </p>
        </div>
        <div class="col-md-1 text-danger">*</div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4 font-weight-bolder">New Password:</div>
        <div class="col-md-7">
          <input class="form-control" type="password" formControlName="newPassword" required>
          <p *ngIf="(passwordEditForm.value.newPassword === passwordEditForm.value.currentPassword)
            && this.passwordEditForm.controls.newPassword.touched"
             class="text-danger"
          >
            Password invalid!
          </p>
        </div>
        <div class="col-md-1 text-danger">*</div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4 font-weight-bolder">Confirm New Password</div>
        <div class="col-md-7">
          <input class="form-control" type="password" formControlName="confirmNewPassword" required>
          <p *ngIf="(passwordEditForm.value.confirmNewPassword !== passwordEditForm.value.newPassword)
            && passwordEditForm.controls.confirmNewPassword.touched"
             class="text-danger"
          >
            Not Matching!
          </p>
        </div>
        <div class="col-md-1 text-danger">*</div>
      </div>
      <div class="row mb-1 mt-4">
        <div class="col-md-12 text-center">
          <button class="btn btn-light border-secondary" disabled>Submit</button>
          <a routerLink="information/:id" class="btn btn-info">Close</a>
        </div>
      </div>
    </div>
  </form>
</div>
