<div class="border">
  <nav class="navbar bg-title-list-quiz ">
    <p class="m-auto heard">Add Question</p>
  </nav>
  <form [formGroup]="formQuestion">
    <!--  Question code-->
    <div class="row mg-form">
      <div class="col-md-1"></div>
      <div class="col-md-3">Question code</div>
      <div class="col-md-6">
        <div>
          <input class="form-control" type="text" formControlName="questionId" (click)="resetError()">
        </div>
        <!--error line-->
        <div class="list-inline text-danger" *ngIf="error !== ''">* {{error}}</div>
        <div class="list-inline mt-2 ml-5  text-danger"
             *ngIf="formQuestion.get('questionId').hasError('required') && formQuestion.get('questionId').touched">
          * Enter Question Code please!
        </div>
      </div>
    </div>
    <div class="row">

    </div>

    <!--  Question-->
    <div class="row mg-form">
      <div class="col-md-1"></div>
      <div class="col-md-3">Question</div>
      <div class="col-md-6">
        <div>
          <input class="form-control" type="text" formControlName="question">
        </div>
        <!--error line-->
        <div class="list-inline mt-2 ml-5 text-danger"
             *ngIf="formQuestion.get('question').hasError('required') && formQuestion.get('question').touched">* Enter
          Question please!
        </div>
      </div>
    </div>

    <fieldset formGroupName="answerAndRight">
      <!--  Answer -->
      <div class="row mg-form">
        <div class="col-md-1"></div>
        <div class="col-md-3">Answer</div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-9">
              <textarea rows="1" class="form-control w-100" type="text" formControlName="answerA" aria-label="Recipient's username"
                        aria-describedby="button-addon2">></textarea>
            </div>
          </div>
          <!--error line-->
          <div class="list-inline mt-2 ml-5 text-danger"
               *ngIf="formQuestion.get('answerAndRight').get('answerA').hasError('required') && formQuestion.get('answerAndRight').get('answerA').touched">
            * Enter answer please!
          </div>
        </div>
      </div>
      <div class="row mg-form">
        <div class="col-md-1"></div>
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <textarea rows="1" class="form-control" type="text" formControlName="answerB"></textarea>
          <div class="list-inline mt-2 ml-5 text-danger"
               *ngIf="formQuestion.get('answerAndRight').get('answerB').hasError('required') && formQuestion.get('answerAndRight').get('answerB').touched">
            * Enter answer please!
          </div>
        </div>
      </div>

      <div *ngIf="numAnswer > 2" class="row mg-form">
        <div class="col-md-1"></div>
        <div class="col-md-3"></div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-9">
              <textarea rows="1" class="form-control w-100" type="text" formControlName="answerC" aria-label="Recipient's username"
                        aria-describedby="button-addon2"></textarea>
            </div>
            <div *ngIf="numAnswer === 3" class="col-md-2"><button style="margin-left: -30px" class="btn btn-outline-secondary"(click)='clickDelete()'>delete</button></div>
          </div>
          <div class="list-inline mt-2 ml-5 text-danger"
               *ngIf="formQuestion.get('answerAndRight').get('answerC').hasError('checkAnswerC') && formQuestion.get('answerAndRight').get('answerC').touched">
            * Answer must include 4 responses!
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div *ngIf="numAnswer < 4" class="ml-3 mg-form">
          <button class="btn btn-outline-secondary" (click)='clickOneMore()'>one more</button>
        </div>
      </div>

      <div *ngIf="numAnswer > 3" class="row mg-form">
        <div class="col-md-1"></div>
        <div class="col-md-3"></div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-9">
              <textarea rows="1" class="form-control w-100" type="text" formControlName="answerD" aria-label="Recipient's username"
                        aria-describedby="button-addon2"></textarea>
            </div>
            <div *ngIf="numAnswer === 4" class="col-md-2"><button style="margin-left: -30px" class="btn btn-outline-secondary" (click)='clickDelete()'>delete</button></div>
          </div>
          <div class="list-inline mt-2 ml-5 text-danger"
               *ngIf="formQuestion.get('answerAndRight').get('answerD').hasError('checkAnswerD') && formQuestion.get('answerAndRight').get('answerD').touched">
            * Answer must include 4 responses!
          </div>
        </div>
      </div>

      <!--Right answer -->
      <div class="row mg-form">
        <div class="col-md-1"></div>
        <div class="col-md-3">Right answer</div>
        <div class="col-md-6">
          <textarea rows="1" class="form-control" type="text" formControlName="rightAnswer"></textarea>
          <!--error line-->
          <div class="list-inline mt-2 ml-5 text-danger"
              *ngIf="(formQuestion.get('answerAndRight').hasError('checkRightAnswer') || formQuestion.get('answerAndRight').get('rightAnswer').hasError('required')) && formQuestion.get('answerAndRight').touched">
            * Right Answer cannot be left blank and must belongs to 1 of the answers!
          </div>
        </div>
      </div>
    </fieldset>

    <!--    Subject-->
    <div class="row mg-form">
      <div class="col-md-1"></div>
      <div class="col-md-3">Subject</div>
      <div class="col-md-6">
        <select class="form-control" formControlName="subjectId">
          <option class="form-control" *ngFor="let subject of listSubject"
                  value="{{subject.subjectId}}">{{subject.subjectName}}</option>
        </select>
        <!--error line-->
        <div class="list-inline mt-2 ml-5 text-danger"
            *ngIf="formQuestion.get('subjectId').hasError('required') && formQuestion.get('subjectId').touched">*
          Enter subject please!
        </div>
      </div>
    </div>

    <!--    Test-->
    <div class="row mg-form">
      <div class="col-md-1"></div>
      <div class="col-md-3">Test</div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-10">
            <input formControlName="testCodeList" readonly class="form-control w-100" type="text"
                   [(ngModel)]="listTestCode" [value]="listTestCode" aria-label="Recipient's username"
                   aria-describedby="button-addon2">
          </div>
          <div class="col-md-2">
            <input style="margin-left: -30px" class="btn btn-outline-secondary" (click)="reset()" type="button"
                   value="Retype">
          </div>
        </div>
        <!--error line-->
        <div class="list-inline mt-2 ml-5 text-danger"
            *ngIf="formQuestion.get('testCodeList').hasError('required') && formQuestion.get('testCodeList').touched">
          * Enter test please!
        </div>
      </div>
    </div>

    <!--    -->
    <div class="row mg-form">
      <div class="col-md-1"></div>
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-10" >
            <ng-autocomplete formControlName="testCode"
                             [data]="data$ | async"
                             [searchKeyword]="keyword"
                             [itemTemplate]="itemTemplate"
                             [notFoundTemplate]="notFoundTemplate"
            >
            </ng-autocomplete>

            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.testCode"></a>
            </ng-template>
            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="listTestCode"></div>
            </ng-template>
          </div>
          <div class="col-md-2">
            <input style="margin-left: -30px" class="btn btn-outline-secondary" value="Add test" type="submit"
                   (click)="inputTesst()">
          </div>
        </div>
      </div>
    </div>

    <!--    Submit-->
    <div class="row mg-form">
      <div class="col-md-12 text-center">
        <button (click)="addQuestion()" [disabled]="formQuestion.invalid" type="submit" class="btn btn-outline-secondary">Submit</button>
      </div>
    </div>

  </form>
</div>


