<form>
  <div class="d-flex justify-content-center align-items-center flex-column update">
    <div class="card-body body-background top-ranking">
      <ul class="list-group">
        <li class="list-inline mt-2">
          Question Code
          <i class="pr-5" aria-hidden="true"></i>
          <span class="float-right"><input type="text"></span>
        </li>
        <li class="list-inline mt-2">
          Question
          <i class="pr-5" aria-hidden="true"></i>
          <span class="float-right "><input type="text"></span>
        </li>
        <li class="list-inline mt-2">
          Answer
          <i class="pr-5" aria-hidden="true"></i>
          <span class="float-right "><textarea type="text" rows="4" cols="23"></textarea></span>
        </li>
        <li class="list-inline mt-2">
          Right Answer
          <i class="pr-5" aria-hidden="true"></i>
          <span class="float-right "><textarea type="text" rows="1" cols="23"></textarea></span>
        </li>

        <li class="list-inline mt-2">
          Subject
          <i class="pr-5" aria-hidden="true"></i>
          <span class="float-right"><input type="text"></span>
        </li>
        <li class="list-inline mt-2">
          Test
          <i class="pr-5" aria-hidden="true"></i>
          <span class="float-right"><input type="text"></span>
        </li>
        <li class="list-inline mt-2" style="margin-left: 150px">
          <button class="btn btn-light bg-transparent button-update"  type="button" id="button-addon1">Submit</button>
        </li>
      </ul>
    </div>
  </div>

</form>
