<div class="container-fluid p-0">

  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <a class="flex-md-fill text-md-center nav-link" href="#">
        <i class="fa fa-home" aria-hidden="true"></i> Home
      </a>
      <a class="flex-md-fill text-md-center nav-link" href="#">
        <i class="fa fa-eur" aria-hidden="true"></i> Grade A
      </a>
      <a class="flex-md-fill text-md-center nav-link" href="#">
        <i class="fa fa-cloud" aria-hidden="true"></i> Grade B
      </a>
      <a class="flex-md-fill text-md-center nav-link" href="#">
        <i class="fa fa-wrench" aria-hidden="true"></i> Grade D
      </a>
      <a class="flex-md-fill text-md-center nav-link" href="#">
        <i class="fa fa-book" aria-hidden="true"></i> IQ Test
      </a>
      <a class="flex-md-fill text-md-center nav-link" href="#">
        <i class="fa fa-globe" aria-hidden="true"></i> About Us
      </a>
    </div>
  </nav>

  <!-- BODY -->
  <div class="row d-flex justify-content-md-around main-comp mx-0">

    <!-- LEFT COLLUMN -->
    <div class="col-md-3 ">
      <div class="sticky-top" style="top: 10%">
        <app-top-point></app-top-point>
        <div class="border p-0 rounded online-support">
          <div class="card-header p-2">
            <i class="fa fa-phone" aria-hidden="true"></i> Online Support
          </div>
          <div class="card-body body-background">
            <ul class="list-group">
              <li class="list-group-item green">
                <i class="fa fa-inbox pr-2" aria-hidden="true"></i> ONLINE
                <span class="badge badge-pill badge-secondary float-right mt-1">Skype</span>
              </li>
              <li class="list-group-item blue">
                <i class="fa fa-mobile pr-2" aria-hidden="true"></i> HOTLINE
                <span class="badge badge-pill badge-secondary float-right mt-1">092.2216.3113</span>
              </li>
            </ul>
            <div class="card online-support-massage">
              <div class="card-mess">
                <img src="images/messenger.jpg" alt="mess">
                MESSENGER
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- CENTER COLLUMN -->

    <div class="col-md-6">
      <!--            Content-->
      <div class="row d-flex justify-content-md-center">
        <div class="frames-img col-md-5">
          <img class="img-card" src="images/toan-hoc.png">
          <div class="label">Toán học</div>
        </div>
        <div class="frames-img col-md-5">
          <img class="img-card" src="images/hoa-hoc.png">
          <div class="label">Hoá học</div>
        </div>
      </div>
      <div class="row d-flex justify-content-md-center">
        <div class="frames-img col-md-5">
          <img class="img-card" src="images/vat-ly.png">
          <div class="label">Vật lý</div>
        </div>
        <div class="frames-img col-md-5">
          <img class="img-card" src="images/tu-nhien.png">
          <div class="label">Tự nhiên</div>
        </div>
      </div>
      <div class="row d-flex justify-content-md-center">
        <div class="frames-img col-md-5">
          <img class="img-card" src="images/vat-ly.png">
          <div class="label">Vật lý</div>
        </div>
        <div class="frames-img col-md-5">
          <img class="img-card" src="images/tu-nhien.png">
          <div class="label">Tự nhiên</div>
        </div>
      </div>
      <div class="row d-flex justify-content-md-center">
        <div class="frames-img col-md-5">
          <img class="img-card" src="images/vat-ly.png">
          <div class="label">Vật lý</div>
        </div>
        <div class="frames-img col-md-5">
          <img class="img-card" src="images/tu-nhien.png">
          <div class="label">Tự nhiên</div>
        </div>
      </div>
      <div class="row d-flex justify-content-md-center">
        <div class="frames-img col-md-5">
          <img class="img-card" src="images/vat-ly.png">
          <div class="label">Vật lý</div>
        </div>
        <div class="frames-img col-md-5">
          <img class="img-card" src="images/tu-nhien.png">
          <div class="label">Tự nhiên</div>
        </div>
      </div>
    </div>
    <!-- RIGHT COLLUMN -->
    <div class="col-md-3 pr-4">
      <div class="sticky-top" style="top: 10%">
        <div class="border p-0 rounded ">
          <div class="card-header p-2">Customers</div>
          <app-auth-login></app-auth-login>
          <div class="card-body members yellow">
            <form action="#">
              <div class="form-group row">
                <i class="fa fa-user" aria-hidden="true"> MEMBERS</i>
              </div>
              <app-statistical-user></app-statistical-user>
            </form>
          </div>
          <div class="card-body blue search-box">
            <form action="#">
              <div class="form-group row">
                <i class="fa fa-search" aria-hidden="true"> SEARCH</i>
              </div>
              <div class="form-group row">
                <div class="form-group">
                  <input type="text" class="form-control" id="search" placeholder="Search">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

