<!--Grade A-->
<h4>
  <i id="gradeA" class="fa fa-graduation-cap text-info" aria-hidden="true"></i>
  Grade A Subjects List
</h4>
<hr>
<div class="row d-flex justify-content-md-around mb-5">
  <div class="card col-md-3 item-subject p-0">
    <a routerLink="test-list/Math">
      <img class="card-img-top" src="assets/image/math-image.jpg">
      <div class="card-body ">
        <p class="text-center subject-title m-3">Math</p>
      </div>
    </a>
  </div>
  <div class="card col-md-3 item-subject p-0">
    <a routerLink="test-list/Physics">
      <img class="card-img-top" src="assets/image/physics-image.jpg">
      <div class="card-body">
        <p class="text-center subject-title m-3">Physics</p>
      </div>
    </a>
  </div>
  <div class="card col-md-3 item-subject p-0">
    <a routerLink="test-list/Chemistry">
      <img class="card-img-top" src="assets/image/chemistry_2018_640.jpg">
      <div class="card-body">
        <p class="text-center subject-title m-3">Chemistry</p>
      </div>
    </a>
  </div>
</div>

<!--Grade B-->
<h4 >
  <i id="gradeB" class="fa fa-graduation-cap text-info" aria-hidden="true"></i>
  Grade B Subjects List
</h4>
<hr>
<div  class="row d-flex justify-content-md-around mb-5">
  <div class="card col-md-3 item-subject p-0">
    <a routerLink="test-list/Math">
      <img class="card-img-top" src="assets/image/math-image.jpg">
      <div class="card-body">
        <p class="text-center card-title m-3">Math</p>
      </div>
    </a>
  </div>
  <div class="card col-md-3 item-subject p-0">
    <a routerLink="test-list/Biology">
      <img class="card-img-top" src="assets/image/biology-image.jpg">
      <div class="card-body">
        <p class="text-center card-title m-3">Biology</p>
      </div>
    </a>
  </div>
  <div class="card col-md-3 item-subject p-0">
    <a routerLink="test-list/Chemistry">
      <img class="card-img-top" src="assets/image/chemistry_2018_640.jpg">
      <div class="card-body">
        <p class="text-center card-title m-3">Chemistry</p>
      </div>
    </a>
  </div>
</div>


<!--Grade D-->
<h4 id="gradeD">
  <i class="fa fa-graduation-cap text-info" aria-hidden="true"></i>
  Grade D Subjects List
</h4>
<hr>
<div  class="row d-flex justify-content-md-around mb-5">
  <div class="card col-md-3 item-subject p-0">
    <a routerLink="test-list/Math">
      <img class="card-img-top" src="assets/image/math-image.jpg">
      <div class="card-body">
        <p class="text-center card-title m-3">Math</p>
      </div>
    </a>
  </div>
  <div class="card col-md-3 item-subject p-0">
    <a routerLink="test-list/English">
      <img class="card-img-top" src="assets/image/english-image.jpg">
      <div class="card-body">
        <p class="text-center card-title m-3">English</p>
      </div>
    </a>
  </div>
  <div class="card col-md-3 item-subject p-0">
    <a routerLink="test-list/Literature">
      <img class="card-img-top" src="assets/image/literature-image.jpg">
      <div class="card-body">
        <p class="text-center card-title m-3">Literature</p>
      </div>
    </a>
  </div>
</div>

<!--IQ-->
<h4 id="iqTest">IQ Test List</h4>
<hr>
<div class="row d-flex justify-content-md-start mb-5 ">

  <div class="card col-md-3 item-subject p-0 cus">
    <a routerLink="test-list/IQ">
      <img class="card-img-top" src="assets/image/iq-image.jpg">
      <div class="card-body">
        <p class="text-center card-title m-3">IQ Test</p>
      </div>
    </a>
  </div>
</div>
