<div class="row d-flex justify-content-md-around mt-3 mb-5">
  <div class="frames-img col-md-5 item-subject p-0">
    <img class="img-card"
         src="https://www.clipartmax.com/png/middle/217-2175673_facebook-messenger-logo-vector-facebook-messenger.png">
    <p class="m-3">Math</p>
  </div>
  <div class="frames-img col-md-5 item-subject p-0">
    <img class="img-card"
         src="https://www.clipartmax.com/png/middle/217-2175673_facebook-messenger-logo-vector-facebook-messenger.png">
    <p class="m-3">Math</p>
  </div>
</div>
<div class="row d-flex justify-content-md-around mb-5">
  <div class="frames-img col-md-5 item-subject p-0">
    <img class="img-card"
         src="https://www.clipartmax.com/png/middle/217-2175673_facebook-messenger-logo-vector-facebook-messenger.png">
    <p class="m-3">Math</p>
  </div>
  <div class="frames-img col-md-5 item-subject p-0">
    <img class="img-card"
         src="https://www.clipartmax.com/png/middle/217-2175673_facebook-messenger-logo-vector-facebook-messenger.png">
    <p class="m-3">Math</p>
  </div>
</div>
