<div class="container-fluid mt-md-3 mb-md-3 ">
  <div class="row">
    <div class="col-md-12">
      <div class=" border">
        <nav class="navbar bg-title-list-quiz  ">
          List Question
        </nav>
        <div class="d-flex mt-2">

        </div>
        <table class="table table-bordered mt-lg-2 text-center">
          <thead>
          <tr class="bg-title-table">
            <th scope="col">No</th>
            <th scope="col">Question Code</th>
            <th scope="col">Question</th>
            <th scope="col">The answer</th>
            <th scope="col">Correct answer</th>
          </tr>
          </thead>
          <tbody class="bg-table ">
          <tr *ngFor="let questionList of question">
            <th style="font-weight: normal">{{questionList.no}}</th>
            <td>{{questionList.questionId}}</td>
            <td class="text-left">{{questionList.questionName}}</td>
            <td>
              <div class="border">
                <div class="navbar  bg-answer-1">{{questionList.answerA}}</div>
                <div class="navbar  bg-answer-2">{{questionList.answerB}}</div>
                <div class="navbar  bg-answer-3">{{questionList.answerC}}</div>
                <div class="navbar  bg-answer-4">{{questionList.answerD}}</div>
              </div>
            </td>
            <td class="text-left">{{questionList.rightAnswer}}</td>
            <td>
              <div class="form-check">
                <input type="checkbox" (click)="chooseToAdd(questionList.questionId)" class="form-check-input">
              </div>
            </td>
          </tr>

          </tbody>
        </table>

        <div class="container-fluid  ">
          <div class="row ">


            <div class="col-xs-12 col-sm-5 col-md-5">

            </div>

            <div class="col-xs-12 col-sm-7 col-md-7">
              <button    data-toggle="collapse" type="button" data-target="#notification"
                      class="btn bg-btn btn-primary mb-3" (click)="addQuestionList()" >Add New
              </button>

              <button type="button" data-toggle="collapse" data-target="#notification"
                      class="btn bg-btn btn-primary mb-3" (click)="close()">Close
              </button>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>



