 <div class="col-md-12 mt-2">
   <div *ngIf="questionShow.length === 0" class="text-danger">table have no data</div>
        <table class="table table-bordered mt-lg-2 text-center">
          <thead>
          <tr class="bg-title-table">
            <th scope="col">No</th>
            <th scope="col">Question Code</th>
            <th scope="col">Question</th>
            <th scope="col">The answer</th>
            <th scope="col">Correct answer</th>
            <th scope="col">Subject</th>
          </tr>
          </thead>
          <tbody class="bg-table ">
          <ng-container *ngFor="let questionList of questionShow | paginate: {itemsPerPage: 5, currentPage: curpage}">
            <tr>
            <th style="font-weight: normal">{{questionList.no}}</th>
            <td>{{questionList.questionId}}</td>
            <td class="text-left">{{questionList.question}}</td>
            <td>
              <div class="border">
                <div class="navbar  bg-answer-1">{{questionList.answerA}}</div>
                <div class="navbar  bg-answer-2">{{questionList.answerB}}</div>
                <div class="navbar  bg-answer-3">{{questionList.answerC}}</div>
                <div class="navbar  bg-answer-4">{{questionList.answerD}}</div>
              </div>
            </td>
            <td class="text-left">{{questionList.rightAnswer}}</td>
            <td class="text-left" >{{questionList.subjectName}}</td>
            <td>
              <a [routerLink]="['/delete-question-bank', questionList.questionId]">Del</a><br><br>
              <a [routerLink]="['/update-question/' + questionList.questionId]">Edit</a>
            </td>
          </tr>
          </ng-container>

          </tbody>
        </table>
<pagination-controls (pageChange)="curpage = $event"></pagination-controls>

          <div class="row ">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{subjectNameDr}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a *ngFor="let subject of subjectList" class="dropdown-item" (click)="find(subject.subjectName)">{{subject.subjectName}}</a>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2">
              <button [routerLink]="['/add-question']" data-toggle="collapse" type="button"
                      class="button-inform btn bg-btn mb-3">Add
              </button>

            </div>

            <div class="col-xs-12 col-sm-2 col-md-2">
              <button type="button" data-toggle="collapse"
                      class="button-inform btn bg-btn mb-3" (click)="close()">Close
              </button>

            </div>

            <div class="col-xs-12 col-sm-2 col-md-1">
              <button type="button"
                      class="submit-import ">
                <input type="file" accept=".txt" btn-import (change)="selectFile($event)" class="custom-file-input"
                       for="import">
              </button>
            </div>
          </div>
        </div>





