.card-header, thead {
  background-color: #d9edf7;
}
body {
  font-family: 'arial', consolas, serif;
  font-size: 16px;
}

label {
  font-weight: bolder;
}

 #closeButton, .dropdown-menu, #delete {
  background-color: #D9EDF7;
  color: white;
}

.errors {
  color: red;
}

