<div class="col-md-12 mt-2">
  <table class="table table-bordered text-center">
    <thead class="thead">
    <tr>
      <th scope="col">No</th>
      <th scope="col">Username</th>
      <th scope="col">Full Name</th>
      <th scope="col">Address</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Point/Times</th>
      <th scope="col" colspan="2">Action</th>
    </tr>
    </thead>
    <tbody *ngIf="userList && userList[0]" class="bg-light">
    <tr  *ngFor="let user of userList | paginate: {itemsPerPage: 10, currentPage: p}; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{user.username}}</td>
      <td>{{user.fullName}}</td>
      <td>{{user.address}}</td>
      <td>{{user.phoneNumber}}</td>
      <td>{{userService.getTotalPoint(user)}} / {{userService.getTotalTime(user)}}</td>
      <td>
        <a href="#">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>
      </td>
      <td>
        <!-- Button trigger modal -->
        <a href="#" data-toggle="modal" [attr.data-target]="'#myModal'+ user.id">
          <i class="fa fa-trash"></i>
        </a>
        <!-- Modal -->
        <div class="modal fade" [id]="'myModal' +user.id" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <span>Do you really want to delete this member: {{user.fullName}} </span>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" id="delete" class="btn btn-outline-secondary" data-dismiss="modal" >
                  <a class="text-white" (click)="deleteUser(user.id)">
                    Yes
                  </a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="modal fade bd-example-modal-lg" id="deletedStatus" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <span id="message"></span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            <a class="text-white" [routerLink]="'list-user'">
              Close
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  <div class="col-md-12 d-flex justify-content-md-end mb-3">
    <button id="closeButton" class="btn btn-outline-secondary align-self-end">
      Close
    </button>
  </div>
</div>
