.card-header, thead {
  background-color: #DFF0D8;
}
body {
  font-family: 'arial', consolas, serif;
  font-size: 16px;
}

label {
  font-weight: bolder;
}

#dropdownMenuLink, #closeButton, .dropdown-menu, #delete {
  background-color: #1979a9;
  color: white;
}

.errors {
  color: white;
  background-color: red;
}

/*tbody {*/
/*    background-color: #DFF0D8;*/
/*}*/
