
          <div class="card-header p-2 blue">
            <i class="fa fa-thumbs-o-up  " aria-hidden="true"></i> Top Ranking
          </div>
          <div class="card-body body-background top-ranking">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let userPoint of listUserPoint | slice: 0 : 6"
                  [ngStyle]="{'background-color': getBackground(listUserPoint.indexOf(userPoint)),
      'color': getColor(listUserPoint.indexOf(userPoint))}">
                <i class="fa fa-inbox pr-3" aria-hidden="true"></i>{{userPoint[0]}}
                <span class="badge badge-pill badge-secondary float-right mt-1">{{userPoint[1]}}</span>
              </li>
            </ul>
          </div>



