
          <div class="card-header p-2 blue">
            <i class="fa fa-thumbs-o-up  " aria-hidden="true"></i>
            <select (change)="topUser($event.target.value)" name="subject" class="  blue not-border" style="border: none">
              <option value="0">Top active users</option>
              <option *ngFor="let subject of subjectList" value="{{subject.subjectId}}">Top user best {{subject.subjectName}}</option>
            </select>

          </div>
          <div class="card-body body-background top-ranking">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let userPoint of listUserPoint | slice: 0 : 6"
                  [ngStyle]="{'background-color': getBackground(listUserPoint.indexOf(userPoint)),
      'color': getColor(listUserPoint.indexOf(userPoint))}">
                <i class="fa fa-inbox pr-3" aria-hidden="true"></i>{{userPoint[0]}}
                <span class="badge badge-pill badge-secondary float-right mt-1">{{userPoint[1] | number : '1.1-2'}}</span>
              </li>
            </ul>
          </div>



